<launch>
  
    <!-- Launch Gazebo  -->
    <include file="$(find resetrobotnewsm_gazebo)/launch/resetrobotnewsm/resetrobotnewsm_gazebo_world.launch" />

    <!-- ros_control arm launch file -->
    <include file="$(find resetrobotnewsm_gazebo)/launch/resetrobotnewsm/resetrobotnewsm_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find resetrobotnewsm_gazebo)/launch/resetrobotnewsm/resetrobotnewsm_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find resetrobotnewsm_moveit_config)/launch/moveit_planning_execution.launch" />

</launch>
